{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="md-12">
        {% for listing in listings %}
    <div class="card mt-4" style="width: 50rem;">
      <div class="row g-0">
        <div class="col-md-6">
          <img src="{{ listing.picture.url }}" class="card-img-top" alt="picture">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">{{ listing.title }}</h5>
              <p class="card-text">
                  {{ listing.price }} £
              </p>
              <p class="card-text">
                <small class="text-muted">{{ listing.created }}</small>
            </p>
              <p class="card-text">
                <a href="{% url 'listing_detail' listing.id %}" class="btn btn-primary">Detail</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}