{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <div>
        <h1>Listing: {{ listing.title }}</h1>
        <div class="card" style="width: 70rem;">
            {% if listing.picture %}
          <img src="{{ listing.picture.url }}" class="card-img-top" alt="pictutre">
            {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ listing.title }}</h5>
            <p class="card-text">{{ listing.price }} £</p>
              <p class="card-text">{{ listing.description }}</p>
          </div>
          <ul class="list-group list-group-flush">
              <p class="card-text">Details</p>
              {% for bid in bid_price %}
              <label>Bid</label>
              <input value="{{ bid.offer }}" type="number" name="Bid">
              {% endfor %}
            <li class="list-group-item">Category: {{ listing.category }}</li>
          </ul>

        <div>
            <h1>Comments...</h1>
          {% for comment in comments %}

            <p>{{ comment.body }}</p>
          {% endfor %}
        </div>
            <div>
                <form action="{% url 'listing_detail' listing.id %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="button is-primary">Message</button>
                </form>
            </div>
        </div>
        </div>
    </div>
{% endblock %}